.softskill {
  font-family: 'Alfa Slab One', cursive;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
  float: right;
  user-select: none;
}
.softskill.blinking:after {
  content: "|";
  color: rgba(255, 255, 255, 0.5);
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@media (max-width: 1024px) {
  .softskill {
    font-size: 1.5rem;
  }
}
