.experience__dates {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.experience__date {
  font-size: 1.5rem;
  color: white;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.experience__date:hover {
  color: rgb(0 0 0);
  background-color: white;
}
.experience__date__active {
  border: 0.15rem solid rgb(82 82 91);
  border-bottom: 0;
  z-index: 1;
}

.experience__dates:before {
  content: "";
  border-top: 0.15rem solid rgb(82 82 91);
  width: 100%;
  position: absolute;
  top: 95%;
}

@media (max-width: 1024px) {
  .experience__dates {
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  .experience__dates:before {
    display: none;
  }
  .experience__date {
    border: 1px solid white;
    border-radius: 1rem;
    margin: 0.3rem;
    font-size: 1.2rem;
  }
  .experience__date__active {
    color: rgba(0,0,0);
    background-color: rgba(255,255,255,0.85);
  }
}
