.header {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgb(0 0 0);
  transition: 2s 1s all;
  opacity: 0;
  transform: translateY(-10%);
}
.header.shown {
  opacity: 1;
  transform: translateY(0);
}
.activeSection {
  color: rgba(255, 255, 255, 1);
  text-decoration: underline rgba(255, 255, 255, 1);
}
.header button {
  margin: 0 2rem;
  transition: transform 200ms;
  font-size: 1.2rem;
}
.header ul {
  text-align: center;
}
.header ul:before {
  content: "";
  border-top: 2px solid rgb(82 82 91);
  width: 90%;
  position: absolute;
  left: 5%;
  top: 50%;
  z-index: -1;
}

.header button:hover {
  transform: scale(1.3);
  color: rgb(0 0 0);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 1rem;
}

@media (max-width: 1024px) {
  .header button {
    display: none;
  }
  .activeSection {
    display: unset !important;
  }
}
