.skills {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 0;
  margin: 1rem 0;
}

@media (max-width: 1024px) {
  .skills {
    grid-template-columns: repeat(1, 100%);
    margin: 0;
  }
}
