.description {
  animation: appear 2.5s;
  text-align: justify;
}

.description__header {
  margin: 1.5rem 0;
  font-size: 1.8rem;
}

.description__element {
  font-size: 1.3rem;
  margin: 1rem 0 0 0;
  line-height: 1.2;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.url {
  text-decoration: none;
  background-image: linear-gradient(0deg, white 0%, white 100%);
  background-position: 0 90%;
  background-repeat: no-repeat;
  background-size: var(--background-size, 100%) 2px;
  transition: background-size 0.2s linear;
}

.url:hover {
  --background-size: 0%;
}

@media (max-width: 1024px) {
  .description__header {
    margin: 1rem 0;
    text-align: center;
  }
}
